<!-- 我的账户 -->
<section class="mc_list_ul gengduo">
	<ul>
		<!--<li><a href="#" class="btn_list">-->
		<!--<i class="icon_tub icon_tub1"></i> 消息中心-->
		<!--<i class="icon_right"><span class="news_gd">16</span></i>-->
		<!--</a></li>-->
		<li><a href="#" class="btn_list">
			<i class="icon_tub icon_tub2"></i> 公司介绍
			<i class="icon_right"></i>
		</a></li>
		<li><a href="#" class="btn_list">
			<i class="icon_tub icon_tub3"></i> 帮助中心
			<i class="icon_right"></i>
		</a></li>
		<!--<li><a href="#" class="btn_list">
            <i class="icon_tub icon_tub4"></i> 在线升级
            <i class="icon_right"></i>
        </a></li>-->
		<li><a href="#" class="btn_list">
			<i class="icon_tub icon_tub5"></i> 服务热线
			<i class="text_r">400-888-9858</i>
		</a></li>
		<li><a href="#" class="btn_list">
			<i class="icon_tub icon_tub6"></i> 官方QQ群
			<i class="text_r">336491232</i>
		</a></li>
		<li><a href="#" class="btn_list">
			<i class="icon_tub icon_tub7"></i> 官方微信
			<i class="icon_right"></i>
		</a></li>
	</ul>
</section>
<!--<a href="#" class="btn_a">退出当前账号</a>-->
<!-- 我的账户 END -->