<section class="register">
<!-- 注册 -->
<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
<form ng-submit="register()">
    <table class="table login-table">
        <tbody>
        <tr >
            <td class="label">
                邮箱
            </td>
            <td class="input-control">
                <input type="email" autocomplete="off" class="form-control" name="email" ng-model="registerForm.email" required>
            </td>
        </tr>
        <tr >
            <td class="label">
                密码
            </td>
            <td class="input-control">
                <input type="password" autocomplete="off" class="form-control" name="password" ng-model="registerForm.password" required>
            </td>
        </tr>
        <tr >
            <td class="label">
                用户名
            </td>
            <td class="input-control">
                <input type="text" class="form-control" name="name" ng-model="registerForm.name" required>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="login-btn-group">
        <button type="submit" class="login-btn" ng-disabled="disabled">注册</button>
    </div>
</form>
</section>
