<section>
    <div class="faq-row">
        <img class="pull-right" src="../images/qrcode.jpg" width="120px">
        <div class="faq-title">
            1. 微信公众号
        </div>
        <div class="faq-desc">
            微信公众号搜索: imaybi<br>
            或 微信扫描二维码(手机长按图片)</br>
            关注美比Maybi公众号，直接与公众号发送信息，我们客服会及时直接回复您。
        </div>
    </div>
    <div class="faq-row">
        <div class="faq-title">
            2. 官方微博
        </div>
        <div class="faq-desc">
            微博关注: <a href="http://weibo.com/imaybi">美比Maybi</a> (点击)
            ，直接私信我们，我们客服会及时直接回复您。
        </div>
    </div>
    <div class="faq-row">
        <div class="faq-title">
            3. 邮件联系
        </div>
        <div class="faq-desc">
            发送邮件至zmy@maybi.cn，告诉我们您遇到的问题，我们会在24小时内回复您。
        </div>
    </div>
</section>
