<section>

<div class="faq-row">
    <div class="faq-title">0. 我们是谁?</div>
    <div class="faq-desc">
        我们是美比Maybi，您在北美最亲近的华人生活帮手，我们严格挑选最实用优惠，新奇有趣的中国优质商品，通过国际知名快递公司的合作，将国内商品漂洋过海送至您的手中。让您身在海外，也能拥有比邻中国的购物体验。<br>
        同时，我们提供寄出国服务，即转运服务，您可通过我们物流平台提交订单，让您的家人朋友，或者您在淘宝购物的店家，将需寄出国的商品寄往我们的仓库地址，我们便会为您打包整理，寄到您的手中，帮您解决转运清关等难题。
    </div>
</div>

<div class="faq-row">
    <div class="faq-title">1. 为什么美比运费这么便宜?</div>
    <div class="faq-desc">
        美比与国际知名快递公司合作，获得更大优惠，通过美比寄件，可节省40%-60%费用。
    </div>
</div>
<div class="faq-row">
    <div class="faq-title">2. 商品在美比仓库能保存多久?</div>
    <div class="faq-desc">
        一、转运包裹保存期限为180天，从订单状态为“商品入库”开始计算，每超过60天我们会发邮件提示用户提交包裹运单，超过180天仍未提交包裹运单，我们将统一对过期的商品做销毁处理。<br>
二、异常包裹（即包裹已到达仓库，未补全物流信息的情况）期限为60天，自包裹已被仓库签收开始计算，由于包裹无法匹配相关的订单以及用户，所以无法做出提醒。包裹超期后，美比将视为放弃保管并销毁。
    </div>
</div>

<div class="faq-row">
    <div class="faq-title">3. 商品寄出前会帮我包装加固吗?</div>
    <div class="faq-desc">
        为了加强物品保护，避免在国际运输途中出现破损，我们会对您的物品免费进行包装加固。
    </div>
</div>

<div class="faq-row">
    <div class="faq-title">4. 我购买了商城商品，多久才能发货?</div>
    <div class="faq-desc">
        您成功支付商城订单后，我们会立刻为您拣货，由于美比商品分布在多地仓库，为了便于发货，我们统一将商品发往美比中转仓，预计时间2-3天，再寄往您的收货地址。
    </div>
</div>

<div class="faq-row">
    <div class="faq-title">5. 我的订单为何被分开两个或多个包裹寄送?</div>
    <div class="faq-desc">
        由于您的商品存在不同邮寄限制或重量超过上限，系统会自动为您拆分为两个或多个包裹。拆分产生的费用会由我们为您补贴和承担，请您放心。
    </div>
</div>
</section>
